MONGODB_URI=mongodb+srv://db_user:password@cluster0.vydmel2.mongodb.net/?appName=Cluster0
MONGODB_DATABASE=imovie_recommender
JWT_SECRET_KEY=
API_BASE_URL=http://localhost:8000
CORS_ORIGINS=http://localhost:3000