@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide::-webkit-scrollbar {

    display: none;

}

.scrollbar-hide {

    -ms-overflow-style: none;
    /* IE and Edge */

    scrollbar-width: none;
    /* Firefox */

}

body {

    background-color: white;

    color: black;

}


/* Dark Mode */

@media (prefers-color-scheme: dark) {

    body {

        background-color: #121212;

        color: #e0e0e0;

    }


    .container {

        background-color: #1e1e1e;

    }


    .text {

        color: #e0e0e0;

    }
}

/* src/index.css or your global CSS file */


.shepherd-modal-overlay {

    background-color: rgba(0, 0, 0, 0.7); /* Darken the background */
  
    z-index: 1000; /* Ensure it's above other elements */
  
  }
  
  
  /* Optional: Disable scrolling when the overlay is active */
  
  body.shepherd-active {
  
    overflow: hidden;
  
  }